<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="customSection">
      <section name="driverConfiguration" type="SpecFlowExample.Configure.DriverConfiguration,SpecFlowExample"/>
    </sectionGroup>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" />
  </specFlow>

  <customSection>
    <driverConfiguration targetDriver="Firefox" width="1366" height="768" isRemote="false"
                       screenshotDir="C:\Screenshots" takeScreenshots="true"
                       remoteUrl="…"/>
  </customSection>
</configuration>
